.full-head {
    display: flex;
    width: 100%;
    height: 148px;
    background: #383636;
}

.top-head {
    display:flex;
    height: 74px;
    align-items: center;
    justify-content: space-between;
    
}

.phone-num {
    display: flex;
    padding-top: 15px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 23px;
    color: white;
}

.scripkey-img {
    display: flex;
    width: 700px;
    height: 74px;
    background-color: #7E0404;
}

.telegram {
    justify-content: end;
    display: flex;
    align-items: center;
    padding-right: 150px;
    padding-left: 150px;
}

.tg-link {
    color: white;
    font-size: 23px;
}

.tg-img {
    display: flex;
    width: 100px;
    height: 50px;
}