/* @use postcss-color-function;
@use postcss-nested; */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.full-body {
    display:inline-block;
    width: 100%;
    background: #141414;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}

.search-input {
    width: 30%;
    padding: 12px 24px;


    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search-input::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search-input:hover, 
.search-input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.tools-img {
    display: flex;;
    justify-content: center;
    height: 100%;
    margin-top: 100px;
}

.piano-img {
    display: flex;
    max-width: 730px;
    padding-right: 15px;
}

.piano-img img {
    height: 550px;
    width: 730px

}

.guitar-n-drum-img {
    display: grid;
    
}

.guitar-img {
    display: inline-block;
}

.guitar-img img {
    height: 343px;
    width: 327px;
}

.drums-img {
    align-self: flex-end;
}

.drums-img img {
    width: 327px;
    height: 186px;
}

.divider {
    display: block;
    width: 100%;
    margin-top: 70px;
}

.divider hr {
    width: 1074px;
}

.map-n-desc {
    display: grid;
    margin-top: 70px;
    width: 100%;
    background: #383636;
    justify-content: center;
}

.map {
    width: 734px;
    height: 358px;
}
